In [1]:
#Importo las librerías a utilizar
import pandas as pd

In [2]:
#Armo el dataset de amazon
amazon_titles = pd.read_csv("app\\datasets\\amazon_prime_titles.csv",delimiter = ',',encoding = "utf-8")

In [3]:
#Elimino las columnas que no me servirán para las consultas indicadas.
amazon_titles.drop(columns=['show_id','director','country','rating','description','date_added'], inplace=True)

In [4]:
#Comienzo un análisis general de mis datasets para saber cuántos datos faltantes (None/NaN/null) y datos repetidos se encuentran para luego eliminarlos.
amazon_titles.isna().sum()

type               0
title              0
cast            1233
release_year       0
duration           0
listed_in          0
dtype: int64

In [5]:
#Reemplazo mis valores nulos por "Sin datos" en lugar de eliminarlos para no perder información
amazon_titles.fillna( 'SinDatos',inplace=True)

In [6]:
# Agrego una columna para identificar la Plataforma
amazon_titles = amazon_titles.assign(Plataforma="amazon")

In [7]:
amazon_titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          9668 non-null   object
 1   title         9668 non-null   object
 2   cast          9668 non-null   object
 3   release_year  9668 non-null   int64
 4   duration      9668 non-null   object
 5   listed_in     9668 non-null   object
 6   Plataforma    9668 non-null   object
dtypes: int64(1), object(6)
memory usage: 528.8+ KB

##DF DISNEY

In [8]:
disney_plus_titles = pd.read_csv("app\\datasets\\disney_plus_titles.csv",delimiter = ',',encoding = "utf-8")
disney_plus_titles.head(1
)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!

In [9]:
disney_plus_titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [10]:
#Elimino las columnas que no me servirán para las consultas indicadas.
disney_plus_titles.drop(columns=['show_id','director','country','rating','description','date_added'], inplace=True)

In [11]:
#Reemplazo mis valores nulos por "Sin datos" en lugar de eliminarlos para no perder información
disney_plus_titles.fillna( 'SinDatos',inplace=True)

In [12]:
# Agrego una columna para identificar la Plataforma
disney_plus_titles=disney_plus_titles.assign(Plataforma="disney")

In [13]:
disney_plus_titles

,type,title,cast,release_year,duration,listed_in,Plataforma
0,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Chris Diamantopoulos, Tony Anselmo, Tress MacN...",2016,23 min,"Animation, Family",disney
1,Movie,Ernest Saves Christmas,"Jim Varney, Noelle Parker, Douglas Seale",1988,91 min,Comedy,disney
2,Movie,Ice Age: A Mammoth Christmas,"Raymond Albert Romano, John Leguizamo, Denis L...",2011,23 min,"Animation, Comedy, Family",disney
3,Movie,The Queen Family Singalong,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",2021,41 min,Musical,disney
4,TV Show,The Beatles: Get Back,"John Lennon, Paul McCartney, George Harrison, ...",2021,1 Season,"Docuseries, Historical, Music",disney
...,...,...,...,...,...,...,...
1445,Movie,X-Men Origins: Wolverine,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...",2009,108 min,"Action-Adventure, Family, Science Fiction",disney
1446,Movie,Night at the Museum: Battle of the Smithsonian,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...",2009,106 min,"Action-Adventure, Comedy, Family",disney
1447,Movie,Eddie the Eagle,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...",2016,107 min,"Biographical, Comedy, Drama",disney
1448,Movie,Bend It Like Beckham,"Parminder Nagra, Keira Knightley, Jonathan Rhy...",2003,112 min,"Buddy, Comedy, Coming of Age",disney
1449,Movie,Captain Sparky vs. The Flying Saucers,Charlie Tahan,2012,2 min,"Action-Adventure, Animals & Nature, Animation",disney

##DF Hulu

In [14]:
hulu_titles=pd.read_csv("app\\datasets\\hulu_titles.csv",delimiter = ',',encoding = "utf-8")

In [15]:
#Elimino las columnas que no me servirán para las consultas indicadas.
hulu_titles.drop(columns=['show_id','director','country','rating','description','date_added'], inplace=True)

In [16]:
hulu_titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          3073 non-null   object
 1   title         3073 non-null   object
 2   cast          0 non-null      float64
 3   release_year  3073 non-null   int64
 4   duration      2594 non-null   object
 5   listed_in     3073 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 144.2+ KB

In [17]:
hulu_titles.isna().sum()

type               0
title              0
cast            3073
release_year       0
duration         479
listed_in          0
dtype: int64

In [18]:

hulu_titles.duplicated(keep=False).sum()

0

In [19]:
#Reemplazo mis valores nulos por "Sin datos" en lugar de eliminarlos para no perder información
hulu_titles.fillna( 'SinDatos',inplace=True)

In [20]:
# Agrego una columna para identificar la Plataforma
hulu_titles=hulu_titles.assign(Plataforma="hulu")

In [21]:
hulu_titles

,type,title,cast,release_year,duration,listed_in,Plataforma
0,Movie,Ricky Velez: Here's Everything,SinDatos,2021,SinDatos,"Comedy, Stand Up",hulu
1,Movie,Silent Night,SinDatos,2020,94 min,"Crime, Drama, Thriller",hulu
2,Movie,The Marksman,SinDatos,2021,108 min,"Action, Thriller",hulu
3,Movie,Gaia,SinDatos,2021,97 min,Horror,hulu
4,Movie,Settlers,SinDatos,2021,104 min,"Science Fiction, Thriller",hulu
...,...,...,...,...,...,...,...
3068,TV Show,Star Trek: The Original Series,SinDatos,1966,3 Seasons,"Action, Adventure, Classics",hulu
3069,TV Show,Star Trek: Voyager,SinDatos,1997,7 Seasons,"Action, Adventure, Science Fiction",hulu
3070,TV Show,The Fades,SinDatos,2011,1 Season,"Horror, International, Science Fiction",hulu
3071,TV Show,The Twilight Zone,SinDatos,1959,5 Seasons,"Classics, Science Fiction, Thriller",hulu
3072,TV Show,Tokyo Magnitude 8.0,SinDatos,2009,1 Season,"Anime, Drama, International",hulu

##DF Netflix

In [22]:
netflix_titles=pd.read_json("app\\datasets\\netflix_titles.json")

In [23]:
netflix_titles.head(1
)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

In [24]:
#Elimino las columnas que no me servirán para las consultas indicadas.
netflix_titles.drop(columns=['show_id','director','country','rating','description','date_added'], inplace=True)

In [25]:
netflix_titles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 8806
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   cast          7982 non-null   object
 3   release_year  8807 non-null   int64
 4   duration      8804 non-null   object
 5   listed_in     8807 non-null   object
dtypes: int64(1), object(5)
memory usage: 481.6+ KB

In [26]:
netflix_titles.isna().sum()

type              0
title             0
cast            825
release_year      0
duration          3
listed_in         0
dtype: int64

In [27]:
#Reemplazo mis valores nulos por "Sin datos" en lugar de eliminarlos para no perder información
netflix_titles.fillna( 'SinDatos',inplace=True)

In [28]:
# Agrego una columna para identificar la Plataforma
netflix_titles=netflix_titles.assign(Plataforma="netflix")

In [29]:
netflix_titles.head(1)

,type,title,cast,release_year,duration,listed_in,Plataforma
0,Movie,Dick Johnson Is Dead,SinDatos,2020,90 min,Documentaries,netflix

In [30]:
disney_plus_titles.head(1)

,type,title,cast,release_year,duration,listed_in,Plataforma
0,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Chris Diamantopoulos, Tony Anselmo, Tress MacN...",2016,23 min,"Animation, Family",disney

In [43]:
amazon_titles.head(1)

,type,title,cast,release_year,duration,listed_in,Plataforma
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",Amazon

In [44]:
hulu_titles.head(1)

,type,title,cast,release_year,duration,listed_in,Plataforma
0,Movie,Ricky Velez: Here's Everything,SinDatos,2021,SinDatos,"Comedy, Stand Up",Hulu

In [31]:
# Concatenamos las 4 tablas en un unico df
df_completo= pd.concat([netflix_titles,hulu_titles,disney_plus_titles,amazon_titles])

In [32]:
df_completo.head(1)

,type,title,cast,release_year,duration,listed_in,Plataforma
0,Movie,Dick Johnson Is Dead,SinDatos,2020,90 min,Documentaries,netflix

In [33]:
df_completo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 9667
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          22998 non-null  object
 1   title         22998 non-null  object
 2   cast          22998 non-null  object
 3   release_year  22998 non-null  int64
 4   duration      22998 non-null  object
 5   listed_in     22998 non-null  object
 6   Plataforma    22998 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.4+ MB

In [34]:

df_completo.reset_index(inplace=True)

In [35]:
# Separo mi columna 'duration' en 'duration' y 'unit'
dfextra=df_completo.duration.str.split(expand=True)
dfextra=dfextra.reset_index()
dfextra[1]=dfextra[1].replace({'Season': 'Seasons'})# Normalizo el str seasons
df_completo=pd.concat([df_completo,dfextra],axis=1)# concateno con el df principal
df_completo.drop(columns=['duration','index'],inplace=True)# dropeo las columnas sobrantes

In [36]:
df_completo=df_completo.rename(columns={0:'duration',1:'unit'})

In [37]:
df_completo.head(1)

,type,title,cast,release_year,listed_in,Plataforma,duration,unit
0,Movie,Dick Johnson Is Dead,SinDatos,2020,Documentaries,netflix,90,min

In [38]:
# Reeplazo por 0 el 'SinDatos' de la columna duration  y los none de unit 
df_completo['duration']=df_completo['duration'].replace({'SinDatos': 0})
df_completo['unit']=df_completo['unit'].replace({None: 0})

In [39]:
# Convierto la columna duration a int para poder comparar 
df_completo['duration']=df_completo['duration'].astype(int)

In [54]:
# Reeplazo en la columna cast 'SinDatos' por None
df_completo['cast']=df_completo['cast'].replace({'SinDatos':None})

## Armo las Querrys para que me devuelvan diccionarios y se me facilite el trabajo con la API

In [41]:
#querry 1 Máxima duración según tipo de film (película/serie), por plataforma y por año: El request debe ser: get_max_duration(año, plataforma, [min o season])



def get_max_duration(ano, plataforma, min_o_season):
  dftest=df_completo.query(f'release_year == {ano} and Plataforma == {plataforma} and unit== {min_o_season}').sort_values(by=['duration'],ascending=False)
  respuesta=dftest[['title','duration','unit']].iloc[0]
  respuesta=respuesta.to_dict()
  return respuesta

In [51]:
get_max_duration(2020,'"hulu"','"Seasons"')

{'title': 'Madagascar: A Little Wild', 'duration': 4, 'unit': 'Seasons'}

In [58]:
#querry 2 Cantidad de películas y series (separado) por plataforma El request debe ser: get_count_plataform(plataforma)

In [44]:
def get_count_plataform(plataforma):
   dfq2=df_completo.query(f'Plataforma == {plataforma}')
   variable02=dfq2['type'].value_counts()
   variable02=variable02.to_dict()
   variable02['Plataforma']= plataforma
   return variable02

In [45]:
get_count_plataform('"netflix"')

{'Movie': 6131, 'TV Show': 2676, 'Plataforma': '"netflix"'}

In [61]:
#Cantidad de veces que se repite un género y plataforma con mayor frecuencia del mismo. El request debe ser: get_listedin('genero')
# Como ejemplo de género pueden usar 'comedy', el cuál deberia devolverles un cunt de 2099 para la plataforma de amazon.

In [46]:
def get_listedin(genero):
    df03=df_completo.query (f'listed_in.str.contains({genero})')
    dtftest=df03[['Plataforma','listed_in']].groupby(['Plataforma']).count()
    nombre=dtftest.iloc[0].name
    cantidad=dtftest['listed_in'].iloc[0]
    diccionario={'plataform':nombre,'cantidad':cantidad}
    return diccionario

In [47]:
get_listedin('"Comedy"')

{'plataform': 'amazon', 'cantidad': 2099}

In [48]:
#4 Actor que más se repite según plataforma y año. El request debe ser: get_actor(plataforma, año)

In [49]:
def get_actor(plataforma,ano):
    df04=df_completo.query(f'release_year == {ano} and Plataforma == {plataforma}' )
    new_df = pd.DataFrame(df04["cast"].str.split(',', expand=True).stack(), columns=["cast"])
    resultado=new_df.groupby(["cast"])["cast"].count().sort_values(ascending=False)
    dfx=pd.DataFrame(resultado)
    nombre=dfx.iloc[0].name
    cantidad=dfx['cast'].iloc[0]
    diccionario={'plataform': plataforma,'cantidad': cantidad,'actores':nombre}
    return diccionario

In [50]:
get_actor('"netflix"',2018)

{'plataform': '"netflix"', 'cantidad': 121, 'actores': 'SinDatos'}