Las consultas a realizar son:

Máxima duración según tipo de film (película/serie), por plataforma y por año: El request debe ser: get_max_duration(año, plataforma, [min o season])

Cantidad de películas y series (separado) por plataforma El request debe ser: get_count_plataform(plataforma)

Cantidad de veces que se repite un género y plataforma con mayor frecuencia del mismo. El request debe ser: get_listedin('genero')
Como ejemplo de género pueden usar 'comedy', el cuál deberia devolverles un cunt de 2099 para la plataforma de amazon.

Actor que más se repite según plataforma y año. El request debe ser: get_actor(plataforma, año)

Ingesta y normalización de datos

Relacionar el conjunto de datos y crear la tabla necesaria para realizar consultas. Aquí se recomienda corroborar qué datos necesitarán en base a las consultas a realizar y concatenar las 4 tablas

Leer documentación en links provistos e indagar sobre Uvicorn, FastAPI y Docker

Crear la API en un entorno Docker → leer documentación en links provistos

Realizar consultas solicitadas

Realizar un video demostrativo

PLUS: realizar un deployment en Mogenius

In [139]:
import pandas as pd

In [141]:
amazon_titles = pd.read_csv(r'C:\Users\Cabezadequeso\Desktop\PI01_DATA05\Datasets\amazon_prime_titles.csv',delimiter = ',',encoding = "utf-8")
amazon_titles.head(1
)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...

In [142]:
amazon_titles.drop(columns=['show_id','director','country','rating','description','date_added'], inplace=True)

In [148]:
amazon_titles.isna().sum()

type            0
title           0
cast            0
release_year    0
duration        0
listed_in       0
dtype: int64

In [147]:
amazon_titles.head(1)

,type,title,cast,release_year,duration,listed_in
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama"

In [145]:
amazon_titles.drop_duplicates(inplace=True)

In [144]:
amazon_titles.fillna( 'SinDatos',inplace=True)

In [149]:
amazon_titles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9668 entries, 0 to 9667
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          9668 non-null   object
 1   title         9668 non-null   object
 2   cast          9668 non-null   object
 3   release_year  9668 non-null   int64
 4   duration      9668 non-null   object
 5   listed_in     9668 non-null   object
dtypes: int64(1), object(5)
memory usage: 528.7+ KB

In [150]:
amazon_titles['release_year']= pd.to_datetime(amazon_titles.release_year)

In [154]:
amazonlista=[]

In [155]:
for i in range(0,9668):
    amazonlista.append('Amazon')

In [156]:
amazon_titles['Plataforma']=amazonlista

In [157]:
amazon_titles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9668 entries, 0 to 9667
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          9668 non-null   object
 1   title         9668 non-null   object
 2   cast          9668 non-null   object
 3   release_year  9668 non-null   datetime64[ns]
 4   duration      9668 non-null   object
 5   listed_in     9668 non-null   object
 6   Plataforma    9668 non-null   object
dtypes: datetime64[ns](1), object(6)
memory usage: 604.2+ KB

##DT DISNEY

In [179]:
disney_plus_titles = pd.read_csv(r'C:\Users\Cabezadequeso\Desktop\PI01_DATA05\Datasets\disney_plus_titles.csv',delimiter = ',',encoding = "utf-8")
disney_plus_titles.head(1
)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!

In [180]:
disney_plus_titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [181]:
disney_plus_titles.drop(columns=['show_id','director','country','rating','description','date_added'], inplace=True)

In [182]:
disney_plus_titles.fillna( 'SinDatos',inplace=True)

In [183]:
disney_plus_titles.duplicated(keep=False).sum()

0

In [184]:
disney_plus_titles.drop_duplicates(inplace=True)

In [168]:
disneylista=[]

In [169]:
for i in range(0,1450):
    disneylista.append('Disney_Plus')

In [185]:
disney_plus_titles['Plataforma']=disneylista

In [186]:
disney_plus_titles['release_year']= pd.to_datetime(disney_plus_titles.release_year)

In [187]:
disney_plus_titles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1450 entries, 0 to 1449
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          1450 non-null   object
 1   title         1450 non-null   object
 2   cast          1450 non-null   object
 3   release_year  1450 non-null   datetime64[ns]
 4   duration      1450 non-null   object
 5   listed_in     1450 non-null   object
 6   Plataforma    1450 non-null   object
dtypes: datetime64[ns](1), object(6)
memory usage: 90.6+ KB

In [188]:
hulu_titles=pd.read_csv(r'C:\Users\Cabezadequeso\Desktop\PI01_DATA05\Datasets\hulu_titles.csv')

In [190]:
hulu_titles.drop(columns=['show_id','director','country','rating','description','date_added'], inplace=True)

In [226]:
hulu_titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          3073 non-null   object
 1   title         3073 non-null   object
 2   cast          3073 non-null   object
 3   release_year  3073 non-null   datetime64[ns]
 4   duration      3073 non-null   object
 5   listed_in     3073 non-null   object
 6   Plataforma    3073 non-null   object
dtypes: datetime64[ns](1), object(6)
memory usage: 168.2+ KB

In [194]:
hulu_titles.isna().sum()

type            0
title           0
cast            0
release_year    0
duration        0
listed_in       0
dtype: int64

In [106]:
hulu_titles.duplicated(keep=False).sum()

0

In [193]:
hulu_titles.fillna( 'SinDatos',inplace=True)

In [222]:
hulu_titleslista=[]

In [223]:
for i in range(0,3073 ):
    hulu_titleslista.append('Hulu')

In [224]:
hulu_titles['Plataforma']= hulu_titleslista

In [225]:
hulu_titles['release_year']= pd.to_datetime(hulu_titles.release_year)

In [201]:
netflix_titles=pd.read_json(r'C:\Users\Cabezadequeso\Desktop\PI01_DATA05\Datasets\netflix_titles.json')

In [202]:
netflix_titles.head(1
)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

In [204]:
netflix_titles.drop(columns=['show_id','director','country','rating','description','date_added'], inplace=True)

In [210]:
netflix_titles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 8806
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   cast          8807 non-null   object
 3   release_year  8807 non-null   int64
 4   duration      8807 non-null   object
 5   listed_in     8807 non-null   object
dtypes: int64(1), object(5)
memory usage: 481.6+ KB

In [209]:
netflix_titles.isna().sum()

type            0
title           0
cast            0
release_year    0
duration        0
listed_in       0
dtype: int64

In [208]:
netflix_titles.fillna( 'SinDatos',inplace=True)

In [214]:
netflixlista=[]

In [218]:
for i in range(0,8807):
    netflixlista.append('Netflix')

In [219]:
netflix_titles['Plataforma']= netflixlista

In [258]:
netflix_titles['release_year']= pd.to_datetime(netflix_titles.release_year)

In [259]:
df_completo= pd.concat([netflix_titles,hulu_titles,disney_plus_titles,amazon_titles],axis=0,)

In [260]:
df_completo.head(5
)

,type,title,cast,release_year,duration,listed_in,Plataforma
0,Movie,Dick Johnson Is Dead,SinDatos,1970-01-01 00:00:00.000002020,90 min,Documentaries,Netflix
1,TV Show,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",1970-01-01 00:00:00.000002021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries",Netflix
2,TV Show,Ganglands,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",1970-01-01 00:00:00.000002021,1 Season,"Crime TV Shows, International TV Shows, TV Act...",Netflix
3,TV Show,Jailbirds New Orleans,SinDatos,1970-01-01 00:00:00.000002021,1 Season,"Docuseries, Reality TV",Netflix
4,TV Show,Kota Factory,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",1970-01-01 00:00:00.000002021,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",Netflix

In [261]:
df_completo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 9667
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          22998 non-null  object
 1   title         22998 non-null  object
 2   cast          22998 non-null  object
 3   release_year  22998 non-null  datetime64[ns]
 4   duration      22998 non-null  object
 5   listed_in     22998 non-null  object
 6   Plataforma    22998 non-null  object
dtypes: datetime64[ns](1), object(6)
memory usage: 1.4+ MB

In [255]:
df_completo[df_completo.duplicated(subset=['title'],keep=False,)].sort_values(by=['title'])

,type,title,cast,release_year,duration,listed_in,Plataforma
873,Movie,1 Night in San Diego,SinDatos,1970-01-01 00:00:00.000002020,86 min,Comedy,Hulu
7473,Movie,1 Night in San Diego,"Laura Ashley Samuels, Jenna Ushkowitz, Alexand...",1970-01-01 00:00:00.000002020,86 min,Comedy,Amazon
9659,Movie,10 Things I Hate About You,"Heath Ledger, Julia Stiles, Joseph Gordon-Levi...",1970-01-01 00:00:00.000001999,97 min,"Comedy, Drama, Romance",Amazon
707,Movie,10 Things I Hate About You,"Heath Ledger, Julia Stiles, Joseph Gordon-Levi...",1970-01-01 00:00:00.000001999,98 min,"Comedy, Coming of Age, Romance",Disney_Plus
2385,TV Show,10 Things I Hate About You,SinDatos,1970-01-01 00:00:00.000002009,1 Season,"Comedy, Drama, Romance",Hulu
...,...,...,...,...,...,...,...
2512,Movie,Zaki Chan,"Ahmed Helmy, Yasmin Abdulaziz, Hassan Hosny, H...",2005,109 min,"Comedies, International Movies, Romantic Movies",Netflix
4705,Movie,Zaki Chan,"Ahmed Helmy, Yasmin Abdulaziz",1970-01-01 00:00:00.000002005,109 min,"Comedy, Romance",Amazon
5621,Movie,Zapped,"Zendaya, Chanelle Peloso, Spencer Boldman, Emi...",2014,92 min,"Children & Family Movies, Comedies",Netflix
1424,Movie,Zapped,"Zendaya , Chanelle Peloso, Spencer Boldman, Em...",1970-01-01 00:00:00.000002014,95 min,"Comedy, Coming of Age, Science Fiction",Disney_Plus
2415,Movie,Zapped,SinDatos,1970-01-01 00:00:00.000002014,94 min,"Adventure, Black Stories, Comedy",Hulu