In [1]:
import pandas as pd

In [2]:
amazon_titles = pd.read_csv('amazon_prime_titles.csv',delimiter = ',',encoding = "utf-8")
amazon_titles.head(1
)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...

In [3]:
amazon_titles.drop(columns=['show_id','director','country','rating','description','date_added'], inplace=True)

In [4]:
amazon_titles.isna().sum()

type               0
title              0
cast            1233
release_year       0
duration           0
listed_in          0
dtype: int64

In [5]:
amazon_titles.head(1)

,type,title,cast,release_year,duration,listed_in
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama"

In [6]:
amazon_titles.drop_duplicates(inplace=True)

In [7]:
amazon_titles.fillna( 'SinDatos',inplace=True)

In [8]:
amazon_titles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9668 entries, 0 to 9667
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          9668 non-null   object
 1   title         9668 non-null   object
 2   cast          9668 non-null   object
 3   release_year  9668 non-null   int64
 4   duration      9668 non-null   object
 5   listed_in     9668 non-null   object
dtypes: int64(1), object(5)
memory usage: 528.7+ KB

In [9]:
amazon_titles['release_year']= pd.to_datetime(amazon_titles.release_year)

In [10]:
amazonlista=[]

In [11]:
for i in range(0,9668):
    amazonlista.append('Amazon')

In [12]:
amazon_titles['Plataforma']=amazonlista

In [13]:
amazon_titles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9668 entries, 0 to 9667
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          9668 non-null   object
 1   title         9668 non-null   object
 2   cast          9668 non-null   object
 3   release_year  9668 non-null   datetime64[ns]
 4   duration      9668 non-null   object
 5   listed_in     9668 non-null   object
 6   Plataforma    9668 non-null   object
dtypes: datetime64[ns](1), object(6)
memory usage: 604.2+ KB

##DT DISNEY

In [14]:
disney_plus_titles = pd.read_csv('disney_plus_titles.csv',delimiter = ',',encoding = "utf-8")
disney_plus_titles.head(1
)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!

In [15]:
disney_plus_titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [16]:
disney_plus_titles.drop(columns=['show_id','director','country','rating','description','date_added'], inplace=True)

In [17]:
disney_plus_titles.fillna( 'SinDatos',inplace=True)

In [18]:
disney_plus_titles.duplicated(keep=False).sum()

0

In [19]:
disney_plus_titles.drop_duplicates(inplace=True)

In [20]:
disneylista=[]

In [21]:
for i in range(0,1450):
    disneylista.append('Disney_Plus')

In [22]:
disney_plus_titles['Plataforma']=disneylista

In [23]:
disney_plus_titles['release_year']= pd.to_datetime(disney_plus_titles.release_year)

In [24]:
disney_plus_titles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1450 entries, 0 to 1449
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          1450 non-null   object
 1   title         1450 non-null   object
 2   cast          1450 non-null   object
 3   release_year  1450 non-null   datetime64[ns]
 4   duration      1450 non-null   object
 5   listed_in     1450 non-null   object
 6   Plataforma    1450 non-null   object
dtypes: datetime64[ns](1), object(6)
memory usage: 90.6+ KB

In [25]:
hulu_titles=pd.read_csv('hulu_titles.csv')

In [26]:
hulu_titles.drop(columns=['show_id','director','country','rating','description','date_added'], inplace=True)

In [27]:
hulu_titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          3073 non-null   object
 1   title         3073 non-null   object
 2   cast          0 non-null      float64
 3   release_year  3073 non-null   int64
 4   duration      2594 non-null   object
 5   listed_in     3073 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 144.2+ KB

In [28]:
hulu_titles.isna().sum()

type               0
title              0
cast            3073
release_year       0
duration         479
listed_in          0
dtype: int64

In [29]:
hulu_titles.duplicated(keep=False).sum()

0

In [30]:
hulu_titles.fillna( 'SinDatos',inplace=True)

In [31]:
hulu_titleslista=[]

In [32]:
for i in range(0,3073 ):
    hulu_titleslista.append('Hulu')

In [33]:
hulu_titles['Plataforma']= hulu_titleslista

In [34]:
hulu_titles['release_year']= pd.to_datetime(hulu_titles.release_year)

In [35]:
netflix_titles=pd.read_json('netflix_titles.json')

In [36]:
netflix_titles.head(1
)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

In [37]:
netflix_titles.drop(columns=['show_id','director','country','rating','description','date_added'], inplace=True)

In [38]:
netflix_titles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 8806
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   cast          7982 non-null   object
 3   release_year  8807 non-null   int64
 4   duration      8804 non-null   object
 5   listed_in     8807 non-null   object
dtypes: int64(1), object(5)
memory usage: 481.6+ KB

In [39]:
netflix_titles.isna().sum()

type              0
title             0
cast            825
release_year      0
duration          3
listed_in         0
dtype: int64

In [40]:
netflix_titles.fillna( 'SinDatos',inplace=True)

In [41]:
netflixlista=[]

In [42]:
for i in range(0,8807):
    netflixlista.append('Netflix')

In [43]:
netflix_titles['Plataforma']= netflixlista

In [44]:
netflix_titles['release_year']= pd.to_datetime(netflix_titles.release_year)

In [45]:
df_completo= pd.concat([netflix_titles,hulu_titles,disney_plus_titles,amazon_titles],axis=0,)

In [46]:
df_completo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 9667
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          22998 non-null  object
 1   title         22998 non-null  object
 2   cast          22998 non-null  object
 3   release_year  22998 non-null  datetime64[ns]
 4   duration      22998 non-null  object
 5   listed_in     22998 non-null  object
 6   Plataforma    22998 non-null  object
dtypes: datetime64[ns](1), object(6)
memory usage: 1.4+ MB

In [47]:
df_completo.reset_index(inplace=True)

In [48]:
dfextra=df_completo.duration.str.split(expand=True)
dfextra=dfextra.reset_index()
dfextra

       index    0        1
0          0   90      min
1          1    2  Seasons
2          2    1   Season
3          3    1   Season
4          4    2  Seasons
...      ...  ...      ...
22993  22993   60      min
22994  22994    4  Seasons
22995  22995   90      min
22996  22996    1   Season
22997  22997  103      min

[22998 rows x 3 columns]

In [49]:
df_completo=pd.concat([df_completo,dfextra],axis=1)
df_completo.drop(columns=['duration','index'],inplace=True)

In [51]:
df_completo=df_completo.rename(columns={0:'duration',1:'unit'})

In [52]:
df_completo['release_year']=pd.DatetimeIndex(df_completo['release_year']).year

In [53]:
df_completo['duration']=df_completo['duration'].replace({'SinDatos': 0})
df_completo['unit']=df_completo['unit'].replace({None: 0})

In [54]:
df_completo['duration']=df_completo['duration'].astype(int)

In [55]:
df_completo

,type,title,cast,release_year,listed_in,Plataforma,duration,unit
0,Movie,Dick Johnson Is Dead,SinDatos,1970,Documentaries,Netflix,90,min
1,TV Show,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",1970,"International TV Shows, TV Dramas, TV Mysteries",Netflix,2,Seasons
2,TV Show,Ganglands,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",1970,"Crime TV Shows, International TV Shows, TV Act...",Netflix,1,Season
3,TV Show,Jailbirds New Orleans,SinDatos,1970,"Docuseries, Reality TV",Netflix,1,Season
4,TV Show,Kota Factory,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",1970,"International TV Shows, Romantic TV Shows, TV ...",Netflix,2,Seasons
...,...,...,...,...,...,...,...,...
22993,Movie,Pride Of The Bowery,"Leo Gorcey, Bobby Jordan",1970,Comedy,Amazon,60,min
22994,TV Show,Planet Patrol,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",1970,TV Shows,Amazon,4,Seasons
22995,Movie,Outpost,"Ray Stevenson, Julian Wadham, Richard Brake, M...",1970,Action,Amazon,90,min
22996,TV Show,Maradona: Blessed Dream,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",1970,"Drama, Sports",Amazon,1,Season
22997,Movie,Harry Brown,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",1970,"Action, Drama, Suspense",Amazon,103,min